body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #b49078;*/
    background-color: #E9ECEF;
    margin-top: 0px;
}

.navbar{
    background-color: #ADB5BD;
    display: flex;
    margin: auto -8px;
    padding: 0px;
    text-align: right;
    border: solid rgb(121, 88, 88);
    border-width: 0px;
    height: 4rem;
}

.navButtons {
    display: flex;
    margin-left: auto;
    height: 4rem;
}

.navButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: transparent;
    padding: 12px;
    border: 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.navButton:hover{
    background-color: #aa875d;

}

.introImages{
    display: flex;
    justify-content: center;
    height: 800px;
}

.introImages #heading{
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    color: white;
    z-index: 1;
    /*background-color: #88827c21;
    height: 2rem;*/
}

.blurb {
    display: flex;
    justify-content: center;
}

.scheduleHeading {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.scheduleContainer {
    display: flex;
    justify-content: center;
    
}

.schedule {
    border-collapse: collapse;
    width: 80%;
    height: 100px;
    
}

.schedule .time, .schedule .heading {
    font-weight: bold;
}

.schedBody th {
    height: 3rem;
    padding: 8px;
}

.thdiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.thdiv hr {
    width: 100%;
    margin: 0px -20px;
}

th {
    font-weight: normal;
    border: solid black;
    border-width: 1px;
    padding: 8px;
}

.slideshow {
    width: 85%;
    height: 90%;
    overflow: hidden;
    position: relative;
    margin: 2rem;
}

.slideContainer {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    left: 0;
    animation: slideshow 20s infinite;
}

.slide {
    width: 100%;
    height: 100%;
}

.slideImg {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}


@keyframes slideshow {
    0%, 10% { left: 0; }
    15%, 25% { left: -100%; }
    30%, 40% { left: -200%; }
    45%, 55% { left: -300%; }
    60%, 70% { left: -200%; }
    75%, 85% { left: -100%; }
    90%, 100% { left: 0; }
}

.slideBtn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}

.slideBtn.one { left: 45%; }
.slideBtn.two { left: 50%; }
.slideBtn.three { left: 55%; }
.slideBtn.four { left: 60%; }

.slideBtn.one:focus ~ .slideContainer { animation: none; left: 0; }
.slideBtn.two:focus ~ .slideContainer { animation: none; left: -100%; }
.slideBtn.three:focus ~ .slideContainer { animation: none; left: -200%; }
.slideBtn.four:focus ~ .slideContainer { animation: none; left: -300%; }